@{
    ViewBag.Title = "Admin Dashboard";
}

<h1 class="text-center">Admin Dashboard</h1>

<div class="d-flex flex-column align-items-center w-100 full-height">
    <a href="/Lesson/Index" class="btn w-75 admin-button" style="background-color: #007bff; color: white; margin: 10px 0; height: 60px; border: 2px solid #007bff; border-radius: 5px; font-size: 1.2em;">Manage Lessons</a>
    <a href="/User/Index" class="btn w-75 admin-button" style="background-color: #007bff; color: white; margin: 10px 0; height: 60px; border: 2px solid #007bff; border-radius: 5px; font-size: 1.2em;">Manage Users</a>
    <a href="/Teacher/Index" class="btn w-75 admin-button" style="background-color: #007bff; color: white; margin: 10px 0; height: 60px; border: 2px solid #007bff; border-radius: 5px; font-size: 1.2em;">Manage Teachers</a>
    <a href="/Student/Index" class="btn w-75 admin-button" style="background-color: #007bff; color: white; margin: 10px 0; height: 60px; border: 2px solid #007bff; border-radius: 5px; font-size: 1.2em;">Manage Students</a>
    <a href="/Announcement/Index" class="btn w-75 admin-button" style="background-color: #007bff; color: white; margin: 10px 0; height: 60px; border: 2px solid #007bff; border-radius: 5px; font-size: 1.2em;">Manage Announcements</a>

</div>
