@{
    ViewBag.Title = "Course Plan";
}

<h2>Course Plan</h2>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Course Type</th>
            <th>Code</th>
            <th>Name</th>
            <th>Credit</th>
        </tr>
    </thead>
    <tbody>
        <!-- 1st Semester -->
        <tr>
            <td colspan="4"><strong>1st Semester</strong></td>
        </tr>
        <tr>
            <td>Semester</td>
            <td>AIB101</td>
            <td>Principles of Atatürk and History of Reforms I</td>
            <td>2.0</td>
        </tr>
        <tr>
            <td>Semester</td>
            <td>CE101</td>
            <td>Algorithms and Programming I</td>
            <td>5.0</td>
        </tr>
        <tr>
            <td>Semester</td>
            <td>CE103</td>
            <td>Introduction to Computer Engineering</td>
            <td>2.0</td>
        </tr>
        <tr>
            <td>Semester</td>
            <td>CE105</td>
            <td>Information Technologies</td>
            <td>4.0</td>
        </tr>
        <tr>
            <td>Semester</td>
            <td>CE107</td>
            <td>Electrical Circuit Fundamentals</td>
            <td>4.0</td>
        </tr>
        <tr>
            <td>Semester</td>
            <td>ING121</td>
            <td>Academic English I</td>
            <td>2.0</td>
        </tr>
        <tr>
            <td>Semester</td>
            <td>MTH101</td>
            <td>Mathematics I</td>
            <td>5.0</td>
        </tr>
        <tr>
            <td>Semester</td>
            <td>PHY103</td>
            <td>Physics I</td>
            <td>4.0</td>
        </tr>
        <tr>
            <td>Semester</td>
            <td>TDB121</td>
            <td>Turkish Language I</td>
            <td>2.0</td>
        </tr>

        <!-- 2nd Semester -->
        <tr>
            <td colspan="4"><strong>2nd Semester</strong></td>
        </tr>
        <tr>
            <td>Semester</td>
            <td>AIB102</td>
            <td>Principles of Atatürk and History of Reforms II</td>
            <td>2.0</td>
        </tr>
        <tr>
            <td>Semester</td>
            <td>CE102</td>
            <td>Algorithms and Programming II</td>
            <td>5.0</td>
        </tr>
        <tr>
            <td>Semester</td>
            <td>CE104</td>
            <td>Web Technologies</td>
            <td>5.0</td>
        </tr>
        <tr>
            <td>Semester</td>
            <td>CE106</td>
            <td>Probability and Statistics</td>
            <td>4.0</td>
        </tr>
        <tr>
            <td>Semester</td>
            <td>CEKRP102</td>
            <td>Career Planning</td>
            <td>2.0</td>
        </tr>
        <tr>
            <td>Semester</td>
            <td>ING122</td>
            <td>Academic English II</td>
            <td>2.0</td>
        </tr>
        <tr>
            <td>Semester</td>
            <td>MTH102</td>
            <td>Mathematics II</td>
            <td>5.0</td>
        </tr>
        <tr>
            <td>Semester</td>
            <td>PHY104</td>
            <td>Physics II</td>
            <td>5.0</td>
        </tr>

        <!-- 3rd Semester -->
        <tr>
            <td colspan="4"><strong>3rd Semester</strong></td>
        </tr>
        <tr>
            <td>Semester</td>
            <td>CE203</td>
            <td>Electronics</td>
            <td>5.0</td>
        </tr>
        <tr>
            <td>Semester</td>
            <td>CE205</td>
            <td>Object Oriented Programming</td>
            <td>6.0</td>
        </tr>
        <tr>
            <td>Semester</td>
            <td>CE209</td>
            <td>Numerical Analysis</td>
            <td>4.0</td>
        </tr>
        <tr>
            <td>Semester</td>
            <td>CE211</td>
            <td>Differential Equations</td>
            <td>5.0</td>
        </tr>
        <tr>
            <td>Semester</td>
            <td>CE213</td>
            <td>Linear Algebra</td>
            <td>3.0</td>
        </tr>
        <tr>
            <td>Semester</td>
            <td>CE215</td>
            <td>Discrete Mathematical Structures</td>
            <td>4.0</td>
        </tr>
        <tr>
            <td>Elective</td>
            <td>UE3MT</td>
            <td>University Elective</td>
            <td>3.0</td>
        </tr>
        <tr>
            <td>Elective</td>
            <td>UE203</td>
            <td>Environment and Energy</td>
            <td>3.0</td>
        </tr>
        <tr>
            <td>Elective</td>
            <td>UE209</td>
            <td>Communication Techniques</td>
            <td>3.0</td>
        </tr>
        <tr>
            <td>Elective</td>
            <td>UE225</td>
            <td>Entrepreneurship I</td>
            <td>3.0</td>
        </tr>

        <!-- 4th Semester -->
        <tr>
            <td colspan="4"><strong>4th Semester</strong></td>
        </tr>
        <tr>
            <td>Semester</td>
            <td>CE204</td>
            <td>Computer Organization</td>
            <td>5.0</td>
        </tr>
        <tr>
            <td>Semester</td>
            <td>CE206</td>
            <td>Digital Electronics</td>
            <td>5.0</td>
        </tr>
        <tr>
            <td>Semester</td>
            <td>CE208</td>
            <td>Object Oriented Analysis and Design</td>
            <td>4.0</td>
        </tr>
        <tr>
            <td>Semester</td>
            <td>CE210</td>
            <td>The Principles of Programming Languages</td>
            <td>4.0</td>
        </tr>
        <tr>
            <td>Semester</td>
            <td>CE212</td>
            <td>Professional English</td>
            <td>4.0</td>
        </tr>
        <tr>
            <td>Semester</td>
            <td>CE214</td>
            <td>Data Structures</td>
            <td>5.0</td>
        </tr>
        <tr>
            <td>Elective</td>
            <td>UE4MT</td>
            <td>University Elective</td>
            <td>3.0</td>
        </tr>
        <tr>
            <td>Elective</td>
            <td>UE203</td>
            <td>Environment and Energy</td>
            <td>3.0</td>
        </tr>
        <tr>
            <td>Elective</td>
            <td>UE209</td>
            <td>Communication Techniques</td>
            <td>3.0</td>
        </tr>
        <tr>
            <td>Elective</td>
            <td>UE225</td>
            <td>Entrepreneurship I</td>
            <td>3.0</td>
        </tr>

        <!-- 5th Semester -->
        <tr>
            <td colspan="4"><strong>5th Semester</strong></td>
        </tr>
        <tr>
            <td>Semester</td>
            <td>CE301</td>
            <td>Formal Languages and Abstract Machines</td>
            <td>5.0</td>
        </tr>
        <tr>
            <td>Semester</td>
            <td>CE303</td>
            <td>Signals and Systems</td>
            <td>4.0</td>
        </tr>
        <tr>
            <td>Semester</td>
            <td>CE305</td>
            <td>Operating Systems</td>
            <td>5.0</td>
        </tr>
        <tr>
            <td>Semester</td>
            <td>CE307</td>
            <td>Computer Networks I</td>
            <td>5.0</td>
        </tr>
        <tr>
            <td>Semester</td>
            <td>CE309</td>
            <td>Database Management Systems</td>
            <td>6.0</td>
        </tr>
        <tr>
            <td>Semester</td>
            <td>CE399</td>
            <td>Summer Practice I</td>
            <td>2.0</td>
        </tr>
        <tr>
            <td>Elective</td>
            <td>EE5MT</td>
            <td>EE Engineering Elective</td>
            <td>3.0</td>
        </tr>
        <tr>
            <td>Elective</td>
            <td>EE313</td>
            <td>Total Quality Management</td>
            <td>3.0</td>
        </tr>
        <tr>
            <td>Elective</td>
            <td>EE321</td>
            <td>Recent Developments in Information Technologies</td>
            <td>3.0</td>
        </tr>
        <tr>
            <td>Elective</td>
            <td>EE323</td>
            <td>Scripting Languages</td>
            <td>3.0</td>
        </tr>

        <!-- 6th Semester -->
        <tr>
            <td colspan="4"><strong>6th Semester</strong></td>
        </tr>
        <tr>
            <td>Semester</td>
            <td>CE302</td>
            <td>Computer Networks II</td>
            <td>6.0</td>
        </tr>
        <tr>
            <td>Semester</td>
            <td>CE304</td>
            <td>Microprocessors</td>
            <td>6.0</td>
        </tr>
        <tr>
            <td>Semester</td>
            <td>CE306</td>
            <td>System Programming</td>
            <td>5.0</td>
        </tr>
        <tr>
            <td>Semester</td>
            <td>CE308</td>
            <td>Web Programming</td>
            <td>6.0</td>
        </tr>
        <tr>
            <td>Semester</td>
            <td>CE310</td>
            <td>Software Engineering</td>
            <td>4.0</td>
        </tr>
        <tr>
            <td>Elective</td>
            <td>EE6MT</td>
            <td>EE Engineering Elective</td>
            <td>3.0</td>
        </tr>
        <tr>
            <td>Elective</td>
            <td>EE313</td>
            <td>Total Quality Management</td>
            <td>3.0</td>
        </tr>
        <tr>
            <td>Elective</td>
            <td>EE321</td>
            <td>Recent Developments in Information Technologies</td>
            <td>3.0</td>
        </tr>
        <tr>
            <td>Elective</td>
            <td>EE323</td>
            <td>Scripting Languages</td>
            <td>3.0</td>
        </tr>
    </tbody>
</table>
