@model IEnumerable<StudentInformationSystem.Models.Lesson>

<h2>Teacher Main Page</h2>

<div>
    <h3>Manage Lessons</h3>
    <a href="@Url.Action("Index", "Lesson")">Lessons</a>
</div>
<div>
    <h3>Manage Grade</h3>
    <a href="@Url.Action("Index", "Grade")">Grades</a>
</div>
<div>
    <h3>Manage Announcements</h3>
    <a href="@Url.Action("Index", "Announcement")">Announcements</a>
</div>